@page "/order"
@attribute [Authorize]
@attribute [StreamRendering]

<PageTitle>Order | Northern Mountains</PageTitle>
<SectionContent SectionName="page-header-title">Order</SectionContent>

<div class="order">
    <h3>Order</h3>
</div>

@code {
    
}
