@page "/order"
@attribute [Authorize]
@attribute [StreamRendering]

<PageTitle>Order | Northern Mountains</PageTitle>
<SectionContent SectionName="page-header-title">Order</SectionContent>

<div class="order">
    <p>Order</p>
</div>

@code {
    
}
