@using Microsoft.AspNetCore.Components.Endpoints

<div class="eshop-header home">
    <div class="eshop-header-hero">
        @{
            const string headerImage = "images/header-home.webp";
        }
        <img role="presentation" src="@headerImage"  alt=""/>
    </div>
    <div class="eshop-header-container">
        <nav class="eshop-header-navbar">
            <a class="logo logo-header" href="">
                <img alt="Northern Mountains" src="images/logo-header.svg" class="logo logo-header" />
            </a>
            
            <UserMenu />
            <OrderMenu />
        </nav>
        <div class="eshop-header-intro">
            <h1><SectionOutlet SectionName="page-header-title" /></h1>
            <p><SectionOutlet SectionName="page-header-subtitle" /></p>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    // We can use Endpoint Metadata to determine the page currently being visited
    private Type? PageComponentType => HttpContext?.GetEndpoint()?.Metadata.OfType<ComponentTypeMetadata>().FirstOrDefault()?.Type;
}
