@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <a aria-label="order" href="order">
            <img src="icons/receipt.svg" alt="order" />
        </a>
    </Authorized>
</AuthorizeView>

@code {
    
}
